.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    color: #555;
}

/*color variants*/
.primary {
    background-color: #1ea7fd;
    color: #FFF;
}

.secondary {
    background-color: #e7fdd8;
    color: #282c34;
}

.success {
    background-color: #66bf3c;
    color: #FFF;
}

.danger {
    background-color: red;
    color: #FFF;
}

/*size variants*/
.xs {
    width: 0.5em;
    height: 0.1em;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sm {

}

.md {

}

.l {

}

.xl {

}